// COLOR
$textColorGray: #868686;
$textColorGraySubTitle: #4E4E4E;
$borderColor: #707070;
$backgroundColor: #F6F6F6; 
$backgroundDigits: #4E4E4E;
//FONT FAMILY
$textFont: 'Montserrat', sans-serif;
// FONSIZE
$textBlog: 25px;
$textNews: 15px;
$textTitle: 15px;
$textPical: 22px;
$textP: 12px;
$textTopic: 14px;
// HEIGHT - WIDTH

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  body,html{
    overflow-x: hidden;
  }
  .menu{
    height: 200px;
    width: 100%;
    .svg{
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    .container-fluid{
      background-color: black;
    }
  }
  .topic{
    .container{
      .row{
        position: relative;
        .col-12{
          padding: 0px 0px 10px 0px;
          .image-block{
            .circular--landscape {
              display: inline-block;
              position: relative;
              height: 100px;
              width: 100px;
              overflow: hidden;
              border-radius: 50%;
            }

            .circular--landscape img {
              width: auto;
              height: 100%;
              margin-left: -45px;
            }
            .circular--portrait {
              border: 5px solid white;
              box-shadow: 0px 2px 6px #a9a9a9;
              position: relative;
              height: 100px;
              width: 100px;
              overflow: hidden;
              border-radius: 50%;
            }
            .circular--portrait img {
              width: 100%;
              height: auto;
            }

            position: absolute;
            top: -45px;
            img{
              height: 100px;
              width: 100px;
            }

          }
          .name{
            position: relative;
            color: black;
            font-size: $textName;
            top: -45px;
            left: 110px;
          }
          .navbar-toggler{
            .fas{
              color: black!important;
            }
            margin:auto;
            margin-right: 0px;
            &:hover{
              margin:auto;
              margin-right: 0px;
            }
            &:focus{
              margin:auto;
              margin-right: 0px;
            }
          }
          .navbar-default{
            margin: 20px 0px 0px 0px;
          }
          ul{
            padding: 0px 10px;
            float: left;
            width: 100%;
            li.nav-item{
              float: left;
              display: inline!important;
              a.nav-link{
                display: inline!important;
                line-height: 30px;
                padding: 0!important;
                border:none!important;
                color: $textColorGray;
                &:hover{
                  border:none!important;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer{
    h2{
      font-size: $textPical;
      text-align: center;
    }
    p{
      font-size: $textP;
      margin:0;
      text-align: center;
    }
    .social-icon{
      text-align: center;
    }
    .input-group{
      width: 300px;
      margin:5px auto;
      text-align: center;
    }
  }

}

/* Portrait */
@media only screen
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 


}

/* Landscape */
@media only screen
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    body,html{
    overflow-x: hidden;
  }
  .menu{
    height: 200px;
    width: 100%;
    .svg{
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    .container-fluid{
      background-color: black;
    }
  }
  .topic{
    .container{
      .row{
        position: relative;
        .col-12{
          padding: 0px 0px 10px 0px;
          .image-block{
            .circular--landscape {
              display: inline-block;
              position: relative;
              height: 100px;
              width: 100px;
              overflow: hidden;
              border-radius: 50%;
            }

            .circular--landscape img {
              width: auto;
              height: 100%;
              margin-left: -45px;
            }
            .circular--portrait {
              border: 5px solid white;
              box-shadow: 0px 2px 6px #a9a9a9;
              position: relative;
              height: 100px;
              width: 100px;
              overflow: hidden;
              border-radius: 50%;
            }
            .circular--portrait img {
              width: 100%;
              height: auto;
            }

            position: absolute;
            top: -45px;
            img{
              height: 100px;
              width: 100px;
            }

          }
          .name{
            position: relative;
            color: black;
            font-size: $textName;
            top: -45px;
            left: 110px;
          }
          .navbar-toggler{
            .fas{
              color: black!important;
            }
            margin:auto;
            margin-right: 0px;
            &:hover{
              margin:auto;
              margin-right: 0px;
            }
            &:focus{
              margin:auto;
              margin-right: 0px;
            }
          }
          .navbar-default{
            margin: 20px 0px 0px 0px;
          }
          ul{
            padding: 0px 10px;
            float: left;
            width: 100%;
            li.nav-item{
              float: left;
              display: inline!important;
              a.nav-link{
                display: inline!important;
                line-height: 30px;
                padding: 0!important;
                border:none!important;
                color: $textColorGray;
                &:hover{
                  border:none!important;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer{
    h2{
      font-size: $textPical;
      text-align: center;
    }
    p{
      font-size: $textP;
      margin:0;
      text-align: center;
    }
    .social-icon{
      text-align: center;
    }
    .input-group{
      width: 300px;
      margin:5px auto;
      text-align: center;
    }
  }
  
}

/* Portrait */
@media only screen
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  
}

/* Portrait */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    body,html{
    overflow-x: hidden;
  }
  .menu{
    height: 200px;
    width: 100%;
    .svg{
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    .container-fluid{
      background-color: black;
    }
  }
  .topic{
    .container{
      .row{
        position: relative;
        .col-12{
          padding: 0px 0px 10px 0px;
          .image-block{
            .circular--landscape {
              display: inline-block;
              position: relative;
              height: 100px;
              width: 100px;
              overflow: hidden;
              border-radius: 50%;
            }

            .circular--landscape img {
              width: auto;
              height: 100%;
              margin-left: -45px;
            }
            .circular--portrait {
              border: 5px solid white;
              box-shadow: 0px 2px 6px #a9a9a9;
              position: relative;
              height: 100px;
              width: 100px;
              overflow: hidden;
              border-radius: 50%;
            }
            .circular--portrait img {
              width: 100%;
              height: auto;
            }

            position: absolute;
            top: -45px;
            img{
              height: 100px;
              width: 100px;
            }

          }
          .name{
            position: relative;
            color: black;
            font-size: $textName;
            top: -42px;
            left: 110px;
            font-size: 17px;
          }
          .navbar-toggler{
            .fas{
              color: black!important;
            }
            margin:auto;
            margin-right: 0px;
            &:hover{
              margin:auto;
              margin-right: 0px;
            }
            &:focus{
              margin:auto;
              margin-right: 0px;
            }
          }
          .navbar-default{
            margin: 20px 0px 0px 0px;
          }
          ul{
            padding: 0px 10px;
            float: left;
            width: 100%;
            li.nav-item{
              float: left;
              display: inline!important;
              .ml-5{
                margin-left: auto;
              }
              a.nav-link{
                display: inline!important;
                line-height: 30px;
                padding: 0!important;
                border:none!important;
                color: $textColorGray;
                font-size: $textTopic;
                &:hover{
                  border:none!important;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer{
    h2{
      font-size: $textPical;
      text-align: center;
    }
    p{
      font-size: $textP;
      margin:0;
      text-align: center;
    }
    .social-icon{
      text-align: center;
    }
    .input-group{
      width: 300px;
      margin:5px auto;
      text-align: center;
    }
  }
}

/* Portrait */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone X  ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 731px) 
and (max-device-width: 823px)
and (-webkit-min-device-pixel-ratio: 2) {
  body,html{
    overflow-x: hidden;
  }
  .menu{
    height: 200px;
    width: 100%;
    .svg{
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    .container-fluid{
      background-color: black;
    }
  }
  .topic{
    .container{
      .row{
        position: relative;
        .col-12{
          padding: 0px 0px 10px 0px;
          .image-block{
            .circular--landscape {
              display: inline-block;
              position: relative;
              height: 100px;
              width: 100px;
              overflow: hidden;
              border-radius: 50%;
            }

            .circular--landscape img {
              width: auto;
              height: 100%;
              margin-left: -45px;
            }
            .circular--portrait {
              border: 5px solid white;
              box-shadow: 0px 2px 6px #a9a9a9;
              position: relative;
              height: 100px;
              width: 100px;
              overflow: hidden;
              border-radius: 50%;
            }
            .circular--portrait img {
              width: 100%;
              height: auto;
            }

            position: absolute;
            top: -42px;
            img{
              height: 100px;
              width: 100px;
            }

          }
          .name{
            position: relative;
            color: black;
            font-size: $textName;
            top: -45px;
            left: 110px;
          }
          .navbar-toggler{
            .fas{
              color: black!important;
            }
            margin:auto;
            margin-right: 0px;
            &:hover{
              margin:auto;
              margin-right: 0px;
            }
            &:focus{
              margin:auto;
              margin-right: 0px;
            }
          }
          .navbar-default{
            margin: 20px 0px 0px 0px;
          }
          ul{
            display: inline!important;
            padding: 0px 10px;
            float: left;
            width: 100%;
            li.nav-item{
              float: left;
              display: inline!important;
              a.nav-link{
                display: inline!important;
                line-height: 30px;
                padding: 0!important;
                border:none!important;
                color: $textColorGray;
                &:hover{
                  border:none!important;
                  color: black;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer{
    h2{
      font-size: $textPical;
      text-align: center;
    }
    p{
      font-size: $textP;
      margin:0;
      text-align: center;
    }
    .social-icon{
      text-align: center;
    }
    .input-group{
      width: 300px;
      margin:5px auto;
      text-align: center;
    }
  }
}