body {
  font-family: "Montserrat", sans-serif; }

.menu {
  font-family: "Montserrat", sans-serif;
  background-image: url("../.././images/backgroundIndex.png");
  height: 300px;
  width: 100%;
  background-position: center center;
  background-repeat: repeat;
  overflow: hidden; }
  .menu .nav-color {
    background-color: black; }
  .menu .container a {
    color: white; }
  .menu .container .nav-link {
    color: white;
    font-size: 15px; }
    .menu .container .nav-link:hover {
      color: black; }
  .menu .container .search-box {
    color: white; }
    .menu .container .search-box h3 {
      font-weight: 500;
      padding: 15% 0% 2% 0%;
      font-size: 30px; }
    .menu .container .search-box input[type="text"] {
      padding: 15px; }

hr {
  margin: 0; }

.topic .container .row {
  position: relative; }
  .topic .container .row .image-block {
    position: absolute;
    top: -90px; }
    .topic .container .row .image-block .circular--landscape {
      display: inline-block;
      position: relative;
      height: 140px;
      width: 140px;
      overflow: hidden;
      border-radius: 50%; }
    .topic .container .row .image-block .circular--landscape img {
      width: auto;
      height: 100%;
      margin-left: -40px; }
    .topic .container .row .image-block .circular--portrait {
      border: 5px solid white;
      box-shadow: 0px 2px 6px #a9a9a9;
      position: relative;
      height: 140px;
      width: 140px;
      overflow: hidden;
      border-radius: 50%; }
    .topic .container .row .image-block .circular--portrait img {
      width: 100%;
      height: auto; }
    .topic .container .row .image-block img {
      height: 140px;
      width: 140px; }
    .topic .container .row .image-block .name {
      position: relative;
      color: black;
      font-size: 20px;
      top: -35px;
      left: 150px; }
  .topic .container .row .col-md-8 {
    padding: 0; }
    .topic .container .row .col-md-8 .navbar-default {
      margin: 10px 0px 0px 0px; }
    .topic .container .row .col-md-8 .nav-link {
      color: #4E4E4E;
      border-bottom: 5px solid white;
      transition: 0.4s; }
      .topic .container .row .col-md-8 .nav-link:hover {
        border-bottom: 5px solid #707070; }

.albums {
  padding: 5% 0%; }

.footer {
  padding: 4% 0% 2% 0%;
  background-color: #F6F6F6; }
  .footer .container .row h3 {
    font-weight: 800; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Arial; }

.header {
  text-align: center;
  padding: 32px; }

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px; }

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 33%;
  /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px; }

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%; }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%; } }
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%; } }
/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body, html {
    overflow-x: hidden; }

  .menu {
    height: 200px;
    width: 100%; }
    .menu .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0; }
    .menu .container-fluid {
      background-color: black; }

  .topic .container .row {
    position: relative; }
    .topic .container .row .col-12 {
      padding: 0px 5px 10px 0px; }
      .topic .container .row .col-12 .image-block {
        position: absolute;
        top: -45px; }
        .topic .container .row .col-12 .image-block .circular--landscape {
          display: inline-block;
          position: relative;
          height: 100px;
          width: 100px;
          overflow: hidden;
          border-radius: 50%; }
        .topic .container .row .col-12 .image-block .circular--landscape img {
          width: auto;
          height: 100%;
          margin-left: -45px; }
        .topic .container .row .col-12 .image-block .circular--portrait {
          border: 5px solid white;
          box-shadow: 0px 2px 6px #a9a9a9;
          position: relative;
          height: 100px;
          width: 100px;
          overflow: hidden;
          border-radius: 50%; }
        .topic .container .row .col-12 .image-block .circular--portrait img {
          width: 100%;
          height: auto; }
        .topic .container .row .col-12 .image-block img {
          height: 100px;
          width: 100px; }
      .topic .container .row .col-12 .name {
        position: relative;
        color: black;
        font-size: 20px;
        top: -45px;
        left: 110px; }
      .topic .container .row .col-12 .navbar-toggler {
        margin: auto;
        margin-right: 0px; }
        .topic .container .row .col-12 .navbar-toggler .fa-bars {
          color: black !important; }
        .topic .container .row .col-12 .navbar-toggler:hover {
          margin: auto;
          margin-right: 0px; }
        .topic .container .row .col-12 .navbar-toggler:focus {
          margin: auto;
          margin-right: 0px; }

  .footer h2 {
    font-size: 22px;
    text-align: center; }
  .footer p {
    font-size: 12px;
    margin: 0;
    text-align: center; }
  .footer .social-icon {
    text-align: center; }
  .footer .input-group {
    width: 300px;
    margin: 5px auto;
    text-align: center; } }
/* Landscape */
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
/* Portrait */
/* Landscape */

/*# sourceMappingURL=albums.css.map */
