// PICTURE
$backgroundIndex: '../.././images/background (5).png';
// COLOR
$textColorGray: #868686;
$textColorGraySubTitle: #4E4E4E;
$borderColor: #707070;
$backgroundColor: #F6F6F6; 
$backgroundDigits: #4E4E4E;
$backgroundFollow: #70C3B2;
$textTOC: #DC5959;
$headerTOC: #DC5959;
$heart: #EB7559;
$bookmark: #ffe000;
//FONT FAMILY
$textFont: 'Montserrat', sans-serif;
// FONSIZE
$textHeader: 15px;
$textContent: 20px;
$textTitle: 25px;
$textDigitsH1: 50px;
$textTime: 13px;
$texSubContact: 20px;
// HEIGHT - WIDTH

// .content{
// 	.post{
// 		margin-top: 15%;
// 		h2{
// 			font-size: $textTitle;
// 		}
// 	}
// 	.table-of-content, .like{
// 		display: none;
// 	}
// }