body {
  font-family: "Montserrat", sans-serif; }

.menu {
  background-position: center center;
  background-repeat: repeat;
  overflow: hidden;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-image: url("../.././images/background (17).png");
  height: 500px; }
  .menu svg {
    position: relative;
    top: 90%;
    left: 1%; }
  .menu .svg path, .menu line, .menu rect, .menu text, .menu tspan {
    stroke: white;
    fill: none; }
  .menu .svg .g3 path {
    fill: white;
    opacity: 0; }
  .menu .nav-color {
    background-color: black; }
  .menu .container a {
    color: white; }
  .menu .container .nav-link {
    color: white;
    font-size: 15px; }
    .menu .container .nav-link:hover {
      color: black; }
  .menu .container .search-box {
    color: white; }
    .menu .container .search-box h3 {
      font-weight: 500;
      padding: 15% 0% 2% 0%;
      font-size: 20px; }
    .menu .container .search-box input[type="text"] {
      padding: 15px; }

.blog {
  padding: 4% 0% 7% 0%; }
  .blog .container .news .card-body p.titles {
    font-size: 22px;
    padding-top: 3.5%; }
  .blog .container .card {
    margin-top: 30px; }
  .blog .container .card-body {
    padding: 0; }
    .blog .container .card-body p {
      margin: 0; }
    .blog .container .card-body p.title {
      font-size: 15px;
      padding: 15px 0px 5px 0px; }
    .blog .container .card-body p.time {
      font-size: 13px; }
    .blog .container .card-body .row img {
      margin: 20px; }
  .blog .container .trending-title {
    margin-top: 5%; }
  .blog .container hr {
    border: 2px solid #707070;
    width: 92%;
    margin-right: 0; }
  .blog .container h4 {
    margin: 0; }
  .blog .container .col-md-7 {
    padding: 0px 15px; }

.footer {
  padding: 4% 0% 2% 0%;
  background-color: #F6F6F6; }
  .footer .container .row h3 {
    font-weight: 800; }

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body, html {
    overflow-x: hidden; }

  .menu {
    height: 200px;
    width: 100%; }
    .menu .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0; }
    .menu .container-fluid {
      background-color: black; }

  .blog .container h2 {
    font-size: 25px; }
  .blog .container .row h4 {
    font-size: 15px; }
  .blog .container hr {
    width: 100%;
    border: 0.5px solid #707070; }
  .blog .container .news .col-md-8 p.titles {
    font-size: 15px; }

  .footer h2 {
    font-size: 22px;
    text-align: center; }
  .footer p {
    font-size: 12px;
    margin: 0;
    text-align: center; }
  .footer .social-icon {
    text-align: center; }
  .footer .input-group {
    width: 300px;
    margin: 5px auto;
    text-align: center; } }
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body, html {
    overflow-x: hidden; }

  .menu {
    height: 200px;
    width: 100%; }
    .menu .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0; }
    .menu .container-fluid {
      background-color: black; }

  .blog .container h2 {
    font-size: 25px; }
  .blog .container .row h4 {
    font-size: 15px; }
  .blog .container hr {
    width: 100%;
    border: 0.5px solid #707070; }
  .blog .container .news .col-md-8 p.titles {
    font-size: 15px; }
  .blog .container .hidden-smart {
    display: none; }

  .footer h2 {
    font-size: 22px; }
  .footer p {
    font-size: 12px;
    margin: 5px 0px; }
  .footer .input-group {
    width: 250px; } }
/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  body, html {
    overflow-x: hidden; }

  .menu {
    height: 200px;
    width: 100%; }
    .menu .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0; }
    .menu .container-fluid {
      background-color: black; }

  .blog .container h2 {
    font-size: 25px; }
  .blog .container .row h4 {
    font-size: 15px; }
  .blog .container hr {
    width: 100%;
    border: 0.5px solid #707070; }
  .blog .container .news .col-md-8 p.titles {
    font-size: 15px; }

  .footer h2 {
    font-size: 22px;
    text-align: center; }
  .footer p {
    font-size: 12px;
    margin: 0;
    text-align: center; }
  .footer .social-icon {
    text-align: center; }
  .footer .input-group {
    width: 300px;
    margin: 5px auto;
    text-align: center; } }
/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  body, html {
    overflow-x: hidden; }

  .menu {
    height: 200px;
    width: 100%; }
    .menu .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0; }
    .menu .container-fluid {
      background-color: black; }

  .blog .container h2 {
    font-size: 25px; }
  .blog .container .row h4 {
    font-size: 15px; }
  .blog .container hr {
    width: 100%;
    border: 0.5px solid #707070; }
  .blog .container .news .col-md-8 p.titles {
    font-size: 15px; }
  .blog .container .hidden-smart {
    display: none; }

  .footer h2 {
    font-size: 22px; }
  .footer p {
    font-size: 12px;
    margin: 5px 0px; }
  .footer .input-group {
    width: 250px;
    height: 30px; } }
/* ----------- iPhone 4 and 4S ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body, html {
    overflow-x: hidden; }

  .menu {
    height: 200px;
    width: 100%; }
    .menu .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0; }
    .menu .container-fluid {
      background-color: black; }

  .blog .container h2 {
    font-size: 25px; }
  .blog .container .row h4 {
    font-size: 15px; }
  .blog .container hr {
    width: 100%;
    border: 0.5px solid #707070; }
  .blog .container .news .col-md-8 p.titles {
    font-size: 15px; }

  .footer h2 {
    font-size: 22px;
    text-align: center; }
  .footer p {
    font-size: 12px;
    margin: 0;
    text-align: center; }
  .footer .social-icon {
    text-align: center; }
  .footer .input-group {
    width: 300px;
    margin: 5px auto;
    text-align: center; } }
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body, html {
    overflow-x: hidden; }

  .menu {
    height: 200px;
    width: 100%; }
    .menu .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0; }
    .menu .container-fluid {
      background-color: black; }

  .blog .container h2 {
    font-size: 25px; }
  .blog .container .row h4 {
    font-size: 15px; }
  .blog .container hr {
    width: 100%;
    border: 0.5px solid #707070; }
  .blog .container .news .col-md-8 p.titles {
    font-size: 15px; }
  .blog .container .hidden-smart {
    display: none; }

  .footer h2 {
    font-size: 22px; }
  .footer p {
    font-size: 12px;
    margin: 5px 0px; }
  .footer .input-group {
    width: 250px; } }
/* ----------- iPhone 5 and 5S ----------- */
/* Portrait and Landscape */
/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body, html {
    overflow-x: hidden; }

  .menu {
    height: 200px;
    width: 100%; }
    .menu .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0; }
    .menu .container-fluid {
      background-color: black; }

  .blog .container h2 {
    font-size: 25px; }
  .blog .container .row h4 {
    font-size: 15px; }
  .blog .container hr {
    width: 100%;
    border: 0.5px solid #707070; }
  .blog .container .news .col-md-8 p.titles {
    font-size: 15px; }

  .footer h2 {
    font-size: 22px;
    text-align: center; }
  .footer p {
    font-size: 12px;
    margin: 0;
    text-align: center; }
  .footer .social-icon {
    text-align: center; }
  .footer .input-group {
    width: 300px;
    margin: 5px auto;
    text-align: center; } }
/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body, html {
    overflow-x: hidden; }

  .menu {
    height: 200px;
    width: 100%; }
    .menu .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0; }
    .menu .container-fluid {
      background-color: black; }

  .blog .container h2 {
    font-size: 25px; }
  .blog .container .row h4 {
    font-size: 15px; }
  .blog .container hr {
    width: 100%;
    border: 0.5px solid #707070; }
  .blog .container .news .col-md-8 p.titles {
    font-size: 15px; }
  .blog .container .hidden-smart {
    display: none; }

  .footer h2 {
    font-size: 22px; }
  .footer p {
    font-size: 12px;
    margin: 5px 0px; }
  .footer .input-group {
    width: 200px; } }

/*# sourceMappingURL=blog.css.map */
