// COLOR
$textColorGray: #868686;
$textColorGraySubTitle: #4E4E4E;
$borderColor: #707070;
$backgroundColor: #F6F6F6; 
$backgroundDigits: #4E4E4E;
//FONT FAMILY
$textFont: 'Montserrat', sans-serif;
// FONSIZE
$textBlog: 25px;
$textSuggested: 12px;
$textTitle: 18px;
$textPical: 22px;
$textP: 12px;
// HEIGHT - WIDTH
/* ----------- iPhone 4 and 4S ----------- */


/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
	body,html{
		overflow-x: hidden;
	}
	.menu{
		height: 200px;
		width: 100%;
		.svg{
			top: 0;
			left: 0;
			display: none;
			visibility: hidden;
			opacity: 0;
		}
		.container-fluid{
			background-color: black;
		}
		.container{
			.search-box{
				.col-12{
					h3{
						font-size: $textTitle;
						margin-top: 15px;
					}
					.row{
						.col-12{
							input{
								height: 20px;
							}
							p{
								font-size: $textSuggested;
							}
						}
					}
				}
			}

		}
	}
	.topic{
		.container-fluid{
			.row{
				.col-12{
					ul{
						border:none!important;
						
						li{
							margin:0;
							a.nav-link{
								display: inline!important;
							}

							&:hover{
								border:none!important;
							}
						}
					}
				}
			}
		}
	}
}

/* Portrait */
@media only screen
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) { 

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) { 

}

/* Landscape */
@media only screen
and (min-device-width: 414px) 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

}
/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}
