// PICTURE
$backgroundIndex: "/images/background(5).png";
// COLOR
$textColorGray: #868686;
$textColorGraySubTitle: #4e4e4e;
$borderColor: #707070;
$backgroundColor: #f6f6f6;
$backgroundDigits: #4e4e4e;
//FONT FAMILY
$textFont: "Montserrat", sans-serif;
// FONSIZE
$textHeader: 15px;
$textSubTitle: 18px;
$textTitle: 30px;
$textDigitsH1: 50px;
$texSubContact: 20px;
// HEIGHT - WIDTH

@mixin subTitle() {
  .col-4 {
    p {
      margin: 0px;
      color: $textColorGraySubTitle;
      font-weight: 700;
      border-left: 4px solid $textColorGraySubTitle;
      padding-left: 1%;
      font-size: $textSubTitle;
    }
    hr {
      border: 3px solid $textColorGraySubTitle;
    }
  }
}
body {
  font-family: $textFont;
}

.menu {
  background-position: center center;
  background-repeat: repeat;
  overflow: hidden;
  width: 100%;
  font-family: $textFont;
  // background-image: url($backgroundIndex);
  height: 500px;
  .svg {
    width: 100%;
  }
  .svg path,
  line,
  rect,
  text,
  tspan {
    stroke: white;
    fill: none;
  }
  .svg .g3 path {
    fill: white;
    opacity: 0;
  }
  .nav-color {
    background-color: black;
  }
  .container-fluid {
    a {
      color: white;
    }
    .nav-link {
      color: white;
      &:hover {
        color: black;
      }
      font-size: $textHeader;
    }
    .search-box {
      color: white;
      h3 {
        font-weight: 500;
        padding: 15% 0% 2% 0%;
        font-size: $textTitle;
      }
      input[type="text"] {
        padding: 15px;
      }
    }
  }
}
.topic {
  .container-fluid {
    .row {
      .col-12 {
        padding: 0;
        .navbar-default {
          border-bottom: 1px solid $borderColor;
          margin: 10px 0px;
        }
        .nav-link {
          color: $textColorGray;
          border-bottom: 5px solid white;
          transition: 0.4s;
          &:hover {
            border-bottom: 5px solid $borderColor;
          }
          &:focus {
            border-bottom: 5px solid $borderColor;
          }
          &:active {
            border-bottom: 5px solid $borderColor;
          }
        }
      }
    }
  }
}
.contact {
  padding: 4% 0% 7% 0%;
  .container {
    .row {
      .col-12 {
        h2 {
          text-transform: uppercase;
          text-align: center;
        }
        p {
          font-size: $texSubContact;
          margin-bottom: 2%;
        }
      }
    }
    .form {
      .btn {
        cursor: pointer;
        background-color: black;
      }
    }
  }
}

.footer {
  padding: 4% 0% 2% 0%;
  background-color: $backgroundColor;
  .container {
    .row {
      h3 {
        font-weight: 800;
      }
    }
  }
}

@import "contact_mobile";
