// COLOR
$textColorGray: #868686;
$textColorGraySubTitle: #4e4e4e;
$borderColor: #707070;
$backgroundColor: #f6f6f6;
$backgroundDigits: #4e4e4e;
//FONT FAMILY
$textFont: "Montserrat", sans-serif;
// FONSIZE
$textContact: 25px;
$textSubContact: 15px;
$textTitle: 15px;
$textPical: 22px;
$textP: 12px;
$textTopic: 14px;
// HEIGHT - WIDTH

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  body,
  html {
    overflow-x: hidden;
  }
  .menu {
    height: 200px;
    width: 100%;
    .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    .container-fluid {
      background-color: black;
    }
  }
  .contact {
    .container {
      .row {
        h2 {
          font-size: $textContact;
        }
        p {
          font-size: $textSubContact !important;
        }
      }
    }
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .footer {
    h2 {
      font-size: $textPical;
      text-align: center;
    }
    p {
      font-size: $textP;
      margin: 0;
      text-align: center;
    }
    .social-icon {
      text-align: center;
    }
    .input-group {
      width: 300px;
      margin: 5px auto;
      text-align: center;
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .footer {
    h2 {
      font-size: $textPical;
    }
    p {
      font-size: $textP;
      margin: 5px 0px;
    }
    .input-group {
      width: 250px;
      height: 30px;
    }
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  body,
  html {
    overflow-x: hidden;
  }
  .menu {
    height: 200px;
    width: 100%;
    .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    .container-fluid {
      background-color: black;
    }
  }
  .contact {
    .container {
      .row {
        h2 {
          font-size: $textContact;
        }
        p {
          font-size: $textSubContact !important;
        }
      }
    }
  }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .footer {
    h2 {
      font-size: $textPical;
      text-align: center;
    }
    p {
      font-size: $textP;
      margin: 0;
      text-align: center;
    }
    .social-icon {
      text-align: center;
    }
    .input-group {
      width: 300px;
      margin: 5px auto;
      text-align: center;
    }
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .footer {
    h2 {
      font-size: $textPical;
    }
    p {
      font-size: $textP;
      margin: 5px 0px;
    }
    .input-group {
      width: 250px;
      height: 30px;
    }
  }
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  body,
  html {
    overflow-x: hidden;
  }
  .menu {
    height: 200px;
    width: 100%;
    .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    .container-fluid {
      background-color: black;
    }
  }
  .contact {
    .container {
      .row {
        h2 {
          font-size: $textContact;
        }
        p {
          font-size: $textSubContact !important;
        }
      }
    }
  }
  .footer {
    h2 {
      font-size: $textPical;
      text-align: center;
    }
    p {
      font-size: $textP;
      margin: 0;
      text-align: center;
    }
    .social-icon {
      text-align: center;
    }
    .input-group {
      width: 300px;
      margin: 5px auto;
      text-align: center;
    }
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body,
  html {
    overflow-x: hidden;
  }
  .menu {
    height: 200px;
    width: 100%;
    .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    .container-fluid {
      background-color: black;
    }
  }
  .contact {
    .container {
      .row {
        h2 {
          font-size: $textContact;
        }
        p {
          font-size: $textSubContact !important;
        }
      }
    }
  }
  .footer {
    h2 {
      font-size: $textPical;
    }
    p {
      font-size: $textP;
      margin: 5px 0px;
    }
    .input-group {
      width: 250px;
      height: 30px;
    }
  }
}

/* ----------- iPhone X  ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 731px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) {
  body,
  html {
    overflow-x: hidden;
  }
  .menu {
    height: 200px;
    width: 100%;
    .svg {
      top: 0;
      left: 0;
      display: none;
      visibility: hidden;
      opacity: 0;
    }
    .container-fluid {
      background-color: black;
    }
  }
  .footer {
    h2 {
      font-size: $textPical;
      text-align: center;
    }
    p {
      font-size: $textP;
      margin: 0;
      text-align: center;
    }
    .social-icon {
      text-align: center;
    }
    .input-group {
      width: 300px;
      margin: 5px auto;
      text-align: center;
    }
  }
}
